body{
background-color: #ddf0bb;
}

h2{
  padding: 10px 0 0 0;
}

.divstyle {
  border: 1;
  box-shadow: -1px -2px 3px 1px #000000;
  background-color: #fff;
  text-shadow: 0 0 0px #000000;
}
div {
  text-align: center;
  background-color: #fff;
}
.data-type-style, #NUMBER, #BOOLEAN, #STRING, #NULL, #UNDEFINED{
  font-weight: bold;
  text-align: start;
  padding: 2px 10px;
}
